ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  height: 16px;
}

ul li {
  width: 16px;
  height: 16px;
  background: #bd32fd;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

ul li:last-child {
  margin-right: 0;
}
